body {
    color: #AA3333;
    text-align: center;
    margin: auto;
    padding: 10px;
    width: 100%;
}
 header {
    text-align: center;
    background-color: #AA3333;
    color: whitesmoke;
    padding: 20px;
    width: auto;
    height: auto;

}

footer {
    text-align: center;
    background-color: #AA3333;
    color: whitesmoke;
    padding: 15px;
    width: auto;
    height: auto;
    margin-top: 19%;
    clear: both;
}

p {
    text-align: center;
}

.username_com {
    background-color: #222222;
    color : whitesmoke;
}

#cr_mail, #log_password {
    margin-left: 4%;
}

#all_articles {
    border: 2px solid black;
    margin-top: 5%;
}

h2 {
    background-color: darkgrey;
}

#tab_comments {
    border : 1px black solid;
}

img {
    width: 29%;
    height: 37%;
}

#user_controller_mail {
    margin-left: 2%;
}

#menu_hamb > a {
    display: inline-block;
    width: auto;
    padding: 10px;
    margin-right: 15px;
    cursor: pointer;
}

#menu_hamb > span {
    display: none;
    text-align: center;
    line-height: 5px;
    padding-bottom: 20px;
}

.label_pwd {
    margin-left: 4.3%;
}


/* Media_Query for Mobile*/
@media (max-width: 812px)
{


    #menu_hamb > a
    {
        display: none;
    }

    #menu_hamb > span
    {
        display: inline-block;
    }

    #menu_hamb:hover > a
    {
        width: 80%;
        display: block;
        margin : 10px auto ;
    }

    #menu_hamb:hover > span
    {
        transform: rotate(90deg);
        transition-property: transform;
        transition-duration: 0.5s;
    }

    a , label {
        font-size: x-large;
    }

    p {
        font-size: x-large;
    }
    .username_com {
        font-size: x-large;
    }
}