body {
    color: #AA3333;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 10px;
}
 header {
    text-align: center;
    background-color: #AA3333;
    color: whitesmoke;
    padding: 20px;
    width: auto;
    height: auto;

}

footer {
    text-align: center;
    background-color: #AA3333;
    color: whitesmoke;
    padding: 15px;
    width: auto;
    height: auto;
    margin-top: 19%;
}

p {
    text-align: center;
}

nav {
    display: flex;
    flex-direction: column;
}

#cr_mail, #log_password {
    margin-left: 4%;
}

#all_articles {
    border: 2px solid black;
    margin-top: 5%;
}

h2 {
    background-color: darkgrey;
}

#tab_comments {
    border : 1px black solid;
}

img {
    width: 29%;
    height: 37%;
}