{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}


{% for article in articles %}

    <div id="all_articles">


        <img src="{{ article.image }}">

        <h2>{{ article.titre }}</h2>

        <p>{{ article.contenu }}</p>


    </div>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
<div id="tab_comments">
    <div id="show_comments">
        <p>Nom utilisateur</p>
        <p></p>
        <p></p>

    </div>

    <div id="write_comments">
        <label for="commentaire">Commentaire:</label>
        <input type="text" id="inputCom">
        <button type="submit">Envoyer</button>
    </div>
</div>
    {% endif %}
    {% endfor %}






{% endblock %}